@import '~bootstrap/scss/bootstrap';


header {

    .fs-10 {
        font-size: 12px;
    }

    ul {
        li {
            margin: 0 10px;
        }
    }

}

main {

    #top_main {
        background-image: url('../img/jumbotron.jpg');
        padding: 180px 0;
        background-size: cover;
    }
}